*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}


 .header{
    width: 100%;
    height: 150px;
    background-color: rgb(168, 168, 223);
    display: flex;
    align-items: center;
    position: relative;
}
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 60px;
    border: 5px solid white;

}
.headertext{
    color: black;
    width: 60%;
   margin-left: auto;
}
.headertext h1{
    font-size: 60px;
    font-weight: normal;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    width: 25%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin-left: 40px;
    padding-bottom: 20px;
    
}
.left-area .contact{
    margin-top: 130px;
    padding: 0 30px;
}
.contact h4{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}
.contact h5{
    font-size: 18px;
    margin: 10px 0;
}
.contact p{
    font-size: 17px;
}
.skills{
    margin-top: 30px;
}
.skills h1{
    font-size: 30px;
    font-weight: normal;
}
.bars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 20px ;
}
.bars .bar p{
    font-size: 15px;
    font-weight: bold;
}

.right-area{
    width: 60%;
   padding: 50px;
    
}
.right-area h2{

font-size: 35px;
font-weight: normal;
}
.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 17px;
    margin-top: 10px;
}
